$red-color-normal: #EA0029;
$red-color-hover: #F53A31;
$red-color-click: #EA0029;

$bg-color-normal: linear-gradient(256deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
$bg-color-hover: #EA0029;
$bg-color-click: $bg-color-hover;

$white-color: white;

$text-color-black: rgba(0, 0, 0, 1);

$bg-color-disabled: #BEC5CC;
