@import "../vars";

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  width: max-content;
  padding: 0;
  margin: 0;

  background: transparent;
  cursor: pointer;

  &.red {
    color: $red-color-normal;
  }

  @media screen and (max-width: $bp-mobile-556){
    font-size: 12px;
  }
}
